/*Styles*/

html {
  display: flex;
  height:100%;
  width:100%;
  justify-content: center;
  align-items: center;
}
.input-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

#root{
  display:flex;
  

}
body {
  display: flex;
  flex-wrap: wrap;
  height:100%;
  width:100%;
  background-color:rgb(111, 133, 118);
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  align-items: center;
}
.word {
  margin-bottom: 5%;;
}

.definitions {
  margin-top: 5%;
}
.definitions-list {
  margin-bottom: 5%;
  list-style-position: inside;
  line-height: 1.25em;
  border: 1px solid #b4b8f8;
  border-radius: 7px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.definition-item{
  padding-bottom: 0.5%;
}

.search-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.input-box {
  border-radius: 7px;
  border: 1px solid #b4b8f8;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-right: 1%;
  height: 60%;
  font-size: large;
  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

button {
  border-radius: 7px;
  border: 1px solid #093727;
  padding: 2%;
  margin-left: 2%;
  background-image: linear-gradient(to right, #134e39 0%, #175f45  51%, #266a78   100%);
  transition: 0.5s;
  color: white;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
button:hover {
  background-image: linear-gradient(to right, #22286b 0%, #353c88  51%, #4d69bc   100%);
}

.title {
  color: #0b2f23;
}

.search-results {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  background-color: #eaeefb;
  border-radius: 12px;
  padding: 2%;
  border: 1px solid #919afc;
  margin-bottom: 2%;
  margin-left: 2%;
  margin-right: 2%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.meaning-area {
  border-top: 1px solid #22286b;
}

.all-defs {
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  padding: 2%;
}

.audio-player {
  margin-bottom: 2%;
}

.definitions-list {
  margin: 0;
  padding: 2%;
  /* list-style: circle; */
}

.type {
  text-decoration: underline; 
  text-decoration-color:rgb(95, 57, 218) ;
  font-weight: bold;
  text-decoration-style: wavy;
}

.search-button {
  height: 60%;
  font-size: large;
  font-weight: bold;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4%;
  text-align: center;
}

/* Media styling */
@media screen and (max-width: 600px) {
  .search-results {
    height: 100%;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;

  }
  
  .input-area {
    height: 100%;
    justify-content: center;
    align-items: center;
  }

  .root {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  audio {
    width: 200px;
    height: 54px;
}

.search-button {
  height: 60%;
  font-size: large;
  font-weight: bold;
}
}

@media screen and (max-width: 360px) {
  .search-area {
    flex-direction: column;
  }
  .input-box {
    margin-bottom: 3%;
    width: 100%;
    padding-left: 0%;
    padding-right: 0%;
    margin-right: 0 !important;
  }
  .search-button {
    width: 100%;
    margin-left: 0;
  }
}


